<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiQAWSt4cDDOc_2ftu-OOfNoQFgM-saEg</string>
	<key>GCM_SENDER_ID</key>
	<string>1078827487367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeSync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lifesync-ad923</string>
	<key>STORAGE_BUCKET</key>
	<string>lifesync-ad923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078827487367:ios:4cc3ef73e37b83196c2822</string>
</dict>
</plist>